.layout_container {
  padding: 0 64 px;
  display: flex;
}
.header_container {
  padding: 5px;
  background: var(--color4);
  box-shadow: 0 4px 12px 0 rgb(248, 213, 213);
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: var(--color6);
}

.main_container {
  width: 60%;
  padding: 0px;
  border-right: 1px solid gray;
}
.trending_container {
  background: red;
  height: 100%;
  width: 40%;
}
