.layout {
}
.header_container {
  padding: 5px;
  background: var(--color4);
  box-shadow: 0 4px 12px 0 rgb(248, 213, 213);
}
.logo {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: var(--color6);
}
