.tag_container {
  padding: 10px;
}

.tag_title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color4);
  border-bottom: 1px var(--color5) solid;
}
.tag_post_container {
  margin: 5px;
  background: var(--color4);
  color: var(--color6);
  padding: 3px;
}
