@import 'styles/layout';
@import 'styles/post';
@import 'styles/main';
@import 'styles/tag';
@import 'styles/new';
@import 'styles/login';
@import 'styles/profile';
@import 'styles/ui';

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {
  font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
  background: var(--color6);
  color: var(--color1);
}
/*  */

:root {
  --color1: #082032;
  --color2: #716f81;
  --color3: #055052;

  --color4: #ff4c29;
  --color5: #ffb740;
  --color6: #e7e0c9;
}
.vertically-centered {
  margin-top: auto;
  margin-bottom: auto;
}
.horizontally-centered {
  margin-right: auto;
  margin-left: auto;
}
